@media (max-width: 992px) {
  header .sitename-wrapper .menu-wrapper ul.list-group .register {
    border-bottom: 0;
    margin-top: 30px;
    div.button-link {
      border-bottom: none;
      background-color: $secondary-color;
      color: $primary-bg;
      border: 1px solid $secondary-color;
      margin: 0 auto;
      padding: 12px 57px;
      width: 50%;
    }
  }
}


header .sitename-wrapper .ds-menu-wrapper ul.list-inline .register div.button-link {
  border: 1px solid $secondary-color;
  padding: 15px;
  a {
    color: $secondary-color;
  }
}

header .sitename-wrapper .ds-menu-wrapper ul.list-inline .register div.button-link:hover {
  background-color: $secondary-color;
  a {
    color: $primary-bg;
  }
}
