// Override variables.

// Buttons.
$btn-padding-y: 13px;
$btn-padding-x: 13px;
$btn-focus-width: 0;
$btn-border-width: 0;

// List group.
$list-group-border-color: none;
$list-group-bg: none;

// Links.
$link-hover-decoration: none;