/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: Open Sans, sans-serif;
}
body.navbar-is-fixed-top {
  margin-top: 51px;
}

.navbar-default {
  background: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

#navbar-collapse {
  padding: 15px 0;
}

.navbar-header {
  margin-top: 15px;
}

.banner img{
  width: 100%;
  height: auto;
}

.navbar-default .navbar-brand {
  font-family: Open Sans, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #39aade;
  text-transform: uppercase;
}
.navbar-default .navbar-brand .text-logo-second {
  color: #cd853f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #337ab7;
  background: none;
  text-decoration: underline;
}

/**
 * General Styling.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Trebuchet MS", Helvetica, sans-serif;
}

h2.block-title {
  text-align: center;
  font-size: 60px;
  margin: 30px 0 100px;
}
.main-container.generic-page {
  padding-top: 50px;
  margin-bottom: 30px;
}
/**
 * Custom contents.
 */
/* Landing page. */
.banner {
  background: url('../images/drupal_2019_banner.jpg') center center scroll;
  background-size: cover;
}
.banner .page-heading {
  padding: 130px 0;
  background: rgb(255,255,255,0.8);
  min-height: 635px;
  color: #000;
  text-align: center;
}
.banner .page-heading img {
  max-width: 275px;
}
.banner .page-heading h2 {
  margin: 0;
  color: #003656;
  font-size: 43px;
}
.banner .page-heading h2.year {
  font-size: 153px;
  color: #38B2E4;
}
.banner .page-heading hr {
  width: 160px;
  margin-top: 28px;
  margin-bottom: 28px;
  border-color: #000;
}
.banner .page-heading blockquote {
  color: #000;
  border: none;
}

.path-frontpage .main-container .region-content .intro-container {
  position: relative;
  height: 635px;
}
.path-frontpage .main-container .region-content .intro-container .container {
  z-index: 20;
  position: relative;
  min-height: 635px;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content {
  padding-left: 75px;
  padding-right: 108px;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content.bg-content-1 {
  padding-left: 0;
  color: #000;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content.bg-content-2 {
  padding-right: 0;
  padding-top: 120px;
}
.path-frontpage .main-container .region-content .intro-container .intro-background {
  z-index: 1;
  background: #fff;
  height: 100%;
  position: relative;
  top: -100%;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg {
  float: left;
  width: 49%;
  height: 100%;
  position: relative;
  padding-left: 54px;
  padding-right: 54px;
  font-size: 0;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg.bg-1 {
  background: #7ddbdc;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg.bg-1:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transform: skewX(-9deg);
  transform: skewX(-9deg);
  background: #7ddbdc;
  width: 100px;
  height: 100%;
  right: 0;
  margin-right: -50px;
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container {
  color: #fff;
  font-size: 25px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title {
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title .quote {
  margin-bottom: 20px;
  line-height: 55px
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title .quote h3{
  line-height: 1.75em;
}
.path-frontpage .main-container .region-content .intro-container .intro-text {
  color: #000;
}
.path-frontpage .main-container .region-content .intro-container .intro-text p {
  font-size: 17px;
  text-align: justify;
  color: #5a5a5a;
  line-height: 1.75em;
}
.path-frontpage .main-container .region-content .fixed-bg {
  background: no-repeat fixed center center;
}
.path-frontpage .main-container .region-content .fixed-bg.bg-cebu-1 {
  background-image: url(../images/camp-2015.jpg);
  height: 900px;
}
.twitter-container h2 {
  margin-bottom: 30px;
}
.twitter-container p {
  font-size: 17px;
  line-height: 1.75em;
}
.button-container {
  margin-top: 70px;
}
.button-container .btn-be-a-sponsor,
.button-container .btn-submit-session,
.button-container .btn-register {
  border-radius: 0;
  padding: 12px;
  background: #ff6f5e;
  margin-right: 8px;
}
.button-container .btn-be-a-sponsor {
  background: #ff6f5e;
}
.button-container .btn-submit-session {
  background: #1d9ceb;
}
.button-container .btn-register {
  background: #d79922;
  margin-right: 0;
}
/**
 * speakers_view views.
 */
.view-id-speakers_view {
}
.view-id-speakers_view .views-col {
  margin-bottom: 80px;
}
.view-id-speakers_view .views-field-title {
  height: auto;
  width: auto;
}
.view-id-speakers_view .views-field-title h3.topic-title {
  margin: 30px 0 10px;
  min-height: 58px;
}
.view-id-speakers_view .views-field-field-speaker {
  font-style: italic;
  text-align: center;
}
.view-id-speakers_view .views-field-field-position-speaker {
  text-align: center;
  margin-bottom: 40px;
}
.view-id-speakers_view .views-field-field-image-speaker img {
  box-shadow: 3px 2px 6px 0px #c6b5b5;
}

/**
 * sponsor_views view.
 */
#block-cebu-2019-views-block-sponsors-view-block-1-2 {
  background-color: #fbeec1;
  padding-bottom: 80px;
  border-bottom: 1px solid #fff;
}
#block-cebu-2019-views-block-sponsors-view-block-1-2 h3 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}
#block-cebu-2019-views-block-sponsors-view-block-1-2 .views-view-grid{
  margin-bottom: 30px;
}

/**
 * Custom blocks.
 */
/* block-cebu-2019-meetingchallengesbreakingbarriers */
#block-cebu-2019-meetingchallengesbreakingbarriers {
  color: #000;
  min-height: 500px;
}
/* block-cebu-2019-speakers */
#block-cebu-2019-speakers {
  background: #f5f0e3;
}
#block-cebu-2019-views-block-speakers-view-block-1,
#block-cebu-2019-views-block-speakers-view-block-1-2 {
  background: #f5f0e3;
  border-bottom: 1px solid #fff;
}
#block-cebu-2019-views-block-speakers-view-block-1 .block-title,
#block-cebu-2019-views-block-speakers-view-block-1-2 .block-title {
  margin-bottom: 100px;
}
.hostedbycituniverstiy-wrap {
  background: #ff6f5e;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  border-bottom: 1px solid #fff;
}
.hostedbycituniversity-section h3 {
  line-height: 1.75em;
}
.citu-link-wrap {
  margin-top: 70px;
}
.citu-link-wrap a {
  color: inherit;
  text-decoration: underline;
  font-size: 25px;
}
.hostedbycituniversity-gmap {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 20;
  top: 0;
  right: 0;
}
#block-cebu-2019-drupaltweets-2 {
  background: #1D9CEB;
  padding: 130px 0;
}
#block-cebu-2019-drupaltweets-2 .container {
  color: #fff;
}
#block-cebu-2019-drupaltweets-2 .container a {
  color: inherit;
  text-decoration: underline;
}
#block-cebu-2019-googlemap h2.block-title {}

.footer {
  margin-top: 0;
  background: #38B2E4;
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}

#block-cebu-2019-bottomfooter-2 img {
  margin-bottom: 25px;
}

#block-cebu-2019-bottomfooter-2 p {
  line-height: 1.75em;
}

/**
 * Be a sponsor page
 */
#block-cebu-2019-sponsorpackages p,
#be-a-speaker-wrap,
#register-page-wrap {
  text-align: justify;
  line-height: 1.75em;
  font-size: 17px;
}
#contact-message-be-a-sponsor-form {
  margin-top: 50px;
}
#contact-message-be-a-sponsor-form input,
#contact-message-be-a-sponsor-form textarea,
#contact-message-be-a-sponsor-form select,
#contact-message-be-a-sponsor-form button,
#node-speakers-form input,
#node-speakers-form textarea,
#node-speakers-form select,
#node-speakers-form button,
#webform-submission-drupal-camp-registration-add-form input,
#webform-submission-drupal-camp-registration-add-form textarea,
#webform-submission-drupal-camp-registration-add-form select,
#webform-submission-drupal-camp-registration-add-form button {
  border-radius: 0;
}
#contact-message-be-a-sponsor-form input,
#contact-message-be-a-sponsor-form textarea,
#node-speakers-form input,
#node-speakers-form textarea,
#webform-submission-drupal-camp-registration-add-form input,
#webform-submission-drupal-camp-registration-add-form textarea {
  padding: 20px;
}
#contact-message-be-a-sponsor-form button,
#node-speakers-form button,
#webform-submission-drupal-camp-registration-add-form button {
  padding: 12px;
}
#contact-message-be-a-sponsor-form input[type="file"],
#node-speakers-form input[type="file"],
#webform-submission-drupal-camp-registration-add-form input[type="file"] {
  padding: 6px 12px;
}
#node-speakers-form .form-type-vertical-tabs {
  display: none;
}
#node-speakers-form #edit-preview {
  display: none;
}
#edit-bank-deposit-instruction {
  font-size: 17px;
}
