/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: Open Sans, sans-serif;
}
body.navbar-is-fixed-top {
  margin-top: 51px;
}

.navbar-default {
  background: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

#navbar-collapse {
  padding: 15px 0;
}

.banner img{
  width: 100%;
  height: auto;
}

.navbar-default .navbar-brand {
  font-family: Open Sans, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #39aade;
  text-transform: uppercase;
}
.navbar-default .navbar-brand .text-logo-second {
  color: #cd853f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #337ab7;
  background: none;
  text-decoration: underline;
}

/**
 * General Styling.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Trebuchet MS", Helvetica, sans-serif;
}

h2.block-title {
  text-align: center;
  font-size: 60px;
  margin: 30px 0 60px;
}

/**
 * Custom contents.
 */
/* Landing page. */
.banner {
  background: url('../images/drupal_2019_banner.jpg') center center scroll;
  background-size: cover;
}
.banner .page-heading {
  padding: 130px 0;
  background: rgb(255,255,255,0.8);
  min-height: 635px;
  color: #000;
  text-align: center;
}
.banner .page-heading img {
  max-width: 275px;
}
.banner .page-heading h2 {
  margin: 0;
  color: #003656;
  font-size: 43px;
}
.banner .page-heading h2.year {
  font-size: 153px;
  color: #38B2E4;
}
.banner .page-heading hr {
  width: 160px;
  margin-top: 28px;
  margin-bottom: 28px;
  border-color: #000;
}
.banner .page-heading blockquote {
  color: #000;
  border: none;
}

.path-frontpage .main-container .region-content .intro-container {
  position: relative;
  height: 635px;
}
.path-frontpage .main-container .region-content .intro-container .container {
  z-index: 20;
  position: relative;
  min-height: 635px;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content {
  padding-left: 108px;
  padding-right: 108px;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content.bg-content-1 {
  padding-left: 0;
  color: #000;
}
.path-frontpage .main-container .region-content .intro-container .container .bg-content.bg-content-2 {
  padding-right: 0;
  padding-top: 120px;
}
.path-frontpage .main-container .region-content .intro-container .intro-background {
  z-index: 1;
  background: #fff;
  height: 100%;
  position: relative;
  top: -100%;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  padding-left: 54px;
  padding-right: 54px;
  font-size: 0;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg.bg-1 {
  background: #7ddbdc;
}
.path-frontpage .main-container .region-content .intro-container .intro-background .bg.bg-1:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transform: skewX(-9deg);
  transform: skewX(-9deg);
  background: #7ddbdc;
  width: 108px;
  height: 100%;
  right: 0;
  margin-right: -54px;
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container {
  color: #fff;
  font-size: 25px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title {
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title .quote {
  margin-bottom: 20px;
  line-height: 55px
}
.path-frontpage .main-container .region-content .intro-container .sub-title-container .sub-title .quote h3{
  line-height: 1.75em;
}
.path-frontpage .main-container .region-content .intro-container .intro-text {
  color: #000;
}
.path-frontpage .main-container .region-content .intro-container .intro-text p {
  font-size: 17px;
  text-align: justify;
  color: #5a5a5a;
  line-height: 1.75em;
}
.path-frontpage .main-container .region-content .fixed-bg {
  background: no-repeat fixed center center;
}
.path-frontpage .main-container .region-content .fixed-bg.bg-cebu-1 {
  background-image: url(../images/camp-2015.jpg);
  height: 900px;
}
.twitter-container h2 {
  margin-bottom: 30px;
}
.twitter-container p {
  font-size: 17px;
  line-height: 1.75em;
}
.button-container {
  margin-top: 70px;
}
/**
 * speakers_view views.
 */
.view-id-speakers_view {
}
.view-id-speakers_view .views-col {
  margin-bottom: 80px;
}
.view-id-speakers_view .views-field-title {
  height: auto;
  width: auto;
}
.view-id-speakers_view .views-field-title h3.topic-title {
  margin: 30px 0 10px;
  min-height: 58px;
}
.view-id-speakers_view .views-field-field-speaker {
  font-style: italic;
  text-align: center;
}
.view-id-speakers_view .views-field-field-position-speaker {
  text-align: center;
  margin-bottom: 40px;
}
.view-id-speakers_view .views-field-field-image-speaker {
  box-shadow: 3px 2px 6px 0px #c6b5b5;
}

box-shadow: 3px 2px 6px 0px #c6b5b5;

/**
 * Custom blocks.
 */
/* block-cebu-2019-meetingchallengesbreakingbarriers */
#block-cebu-2019-meetingchallengesbreakingbarriers {
  color: #000;
  min-height: 500px;
}
/* block-cebu-2019-speakers */
#block-cebu-2019-speakers {
  background: #f5f0e3;
}
#block-cebu-2019-views-block-speakers-view-block-1 {
  background: #f5f0e3;
}
#block-cebu-2019-views-block-speakers-view-block-1 .block-title {
  margin-bottom: 100px;
}
#block-cebu-2019-drupalincebu {
}
#block-cebu-2019-drupalincebu .intro-container {
  overflow: hidden;
}
#block-cebu-2019-drupalincebu .intro-container.bottom-section .sub-title-container {
  padding-top: 80px;
}
#block-cebu-2019-drupalincebu .intro-container .container .bg-content.bg-content-1 {
  color: #fff;
}
#block-cebu-2019-drupalincebu .intro-container .container .bg-content.bg-content-1 a {
  color: inherit;
  text-decoration: underline;
}
#block-cebu-2019-drupalincebu .intro-container .intro-background .bg.bg-1 {
  background: #ff6f5e;
}
#block-cebu-2019-drupalincebu .intro-container .intro-background .bg.bg-1:after {
  display: none;
}
#block-cebu-2019-drupalincebu .intro-container .intro-background .bg.bg-2 {
  padding-left: 0;
  padding-right: 0;
}
#block-cebu-2019-drupaltweets {
  background: #1D9CEB;
  padding: 130px 0;
}
#block-cebu-2019-drupaltweets .container {
  color: #fff;
}
#block-cebu-2019-drupaltweets .container a {
  color: inherit;
  text-decoration: underline;
}
#block-cebu-2019-googlemap h2.block-title {}

.footer {
  margin-top: 0;
  background: #38B2E4;
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
